@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html[data-theme="light"] {
  --bg1-color: #DDE1E7;
  --text-color: #6C757D;
  --shadow-col1: #babdc2;
  --shadow-col2:#ffffff;
  --meta-col: #444;
  --head-col: black;
 }
 
 html[data-theme="dark"] {
  --bg1-color: #272727;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --shadow-col1: #191919;
  --shadow-col2:#1d1d1d;
  --meta-col: rgb(155, 149, 149);
  --head-col: #fff;
 }
/*Main section*/

@media (max-width:766px) {
  .dropdown{
    position: absolute;
    padding-right: 3.5rem;
  }
  .godown{
    z-index: 1;
    padding-top: 8rem;
    padding-left: 3.3rem;
  }
}
.head-upper{
  background: var(--bg-txt-img);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--txt-fill);
}

@media(min-width: 740px) and (max-width: 750px)
{
  section{
    margin-bottom: 5rem;
  }
}

.main {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}
.column {
  padding: 70px;
}
.section {
  padding: 20px;
  padding-left: 0;
}
.heading {
  font-size: 55px;
  color: var(--bg-txt-img);
}
.sub-heading {
  font-size: 17px;
  margin-top: 20px;
}
@media (max-width: 550px) {
  .main {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.card1 {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  border:none;
  border-radius: 4px;
  box-shadow: -3px -3px 4px var(--shadow-col2), 2px 3px 4px var(--shadow-col1);
  transition: all 0.4s;
  contain: content;
}

.card1:hover{
    transform: scale(1.08);
}

.card1 .card-body {
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
  color: var(--text);
  background-color: #fff;
  border-radius: 0 13px 13px 0;
}

.card1 header {
  flex: 100%;
}

.card1 .meta {
  margin-bottom: 15px;
  margin:0;
}

ul ol{
  list-style: disc; 
  padding: 3%;
}

.card1 .featured-image {
  max-height: 60px;
  max-width: 200px;
  width: auto;
  height: auto;
  display: block;
  margin: 20px auto 10px auto;
  background: none;
  object-fit: contain;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px auto 10px auto;
  color: var(--text-color);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  max-width: 200px;
}

@media only screen and (min-width: 768px) {
  .card1 {
    flex-direction: row;
    max-height: 70vh;
  }

  .card1 h3 {
    font-size: calc(100% + 1vw);
  }

  @media only screen and (min-width: 1280px) {
    .card1 h3 {
      font-size: 32px;
    }
  }

  .card1 .featured-image {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 0;
    max-width: 310px;
    height: inherit;
    width: 100%;
  }
}

.heading1 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  color: #000 !important;
  margin: 0.3em 0;
  margin-top: 3rem;
  text-align: center;
  background: none;
  -webkit-text-fill-color: #000 !important;
}

.exp-head {
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  color: #000 !important;
  margin: 0.3em 0;
  margin-top: 3rem;
  text-align: center;
  background: none;
  -webkit-text-fill-color: #000 !important;
}

@media(min-width: 675px){
  .heading1{
    margin-top: 3em;
  }
}

@media(min-width: 60rem)
{
  .exp-head{
    margin-top: 0rem !important;
  } 
}

.card-body .pre-heading {
  color: var(--meta-col);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card-body .meta {
  color: var(--meta-col);
  font-size: 16px;
}

.card-body .author {
  font-size: 12px;
}

.card-body h3{
  font-size: 1.8rem;
  margin-top: 3px;
  margin-bottom: 3px;
  color: var(--head-col);
}

.main ul {
  display: block;
  margin: 0 auto;
  min-height: 10rem;
  max-width: 1050px;
  padding: 0.5rem !important;
}

.main a {
  text-decoration: none;
}


    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  ) !important;
  transition: ease-out;
} */

.card-body p{
  margin: 0px;
  font-size: 14px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1px;
  margin-bottom: 5rem;
  margin-top: 0.1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

/* .content:hover{
  background: transparent;
} */

 .content > * + * {
  margin-top: 1rem;
} 



/* .page-content .cardafter {
  transform: translateY(0);
}

.content {
  transform: translateY(calc(100% - 4.5rem));
}

.content > *:not(.title) {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.page-content .card:hover,
.page-content .card:focus-within {
  align-items: center;
}

.page-content .card:hover:before,
.page-content .card:focus-within:before {
  transform: translateY(-4%);
}

.page-content .card:hover:after,
.page-content .card:focus-within:after {
  transform: translateY(-50%);
}

.page-content .card:hover .content,
.page-content .card:focus-within .content {
  transform: translateY(0);
}

.page-content .card:hover .content > *:not(.title),
.page-content .card:focus-within .content > *:not(.title) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
}

.page-content .card:focus-within:before,
.page-content .card:focus-within:after,
.page-content .card:focus-within .content,
.page-content .card:focus-within .content > *:not(.title) {
  transition-duration: 0s;
} */

/*Mentorship card*/

.row{
  display: flex;
  row-gap: 3em;
}

.column{
  float: left;
  margin-bottom: 3rem !important;
  padding-left: 0;
  padding-right: 0;
}

.mentorshipCard{
  margin-bottom: 2em;
  border-radius: 13px;
}

@media(min-width: 60rem)
{
  .row{
    margin-top: 0em;
  }

  .mentorshipCard{
    width: 44%;
    column-gap: 2rem;
    margin-top: -1em;
    margin-bottom: 0.5em;
    padding: 1.5em;
  }

  .column{
    margin-left: 2rem;
  }
}

.mentorshipCardCover {
  box-shadow:  4px 4px 6px var(--shadow-col1),
               -2px -2px 4px var(--shadow-col2);
}

.mentorshipCard .card-img-top {
  max-height: 60px;
  max-width: 200px;
  width: auto;
  height: auto;
  display: block;
  margin: 20px auto 10px auto;
  object-fit: contain;
}

.card2{
  /* background-color: var(--bg1-color); */
  color: var(--text);
}

.card2 .fa{
  color: var(--text-color);
}

/*
----------------------------
       SVG ANIMATIONS 
----------------------------
*/

#tie {
  animation: tie 2s infinite ease-in-out;
  transform-origin: 50% 62%;
}
@keyframes tie {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: skew(-12deg) rotate(-6deg);
  }
}